<!--<ng-include src="'partials/meetingEditorPopUp.html'" ng-controller="meetingCtrl"></ng-include>-->
 <!-- Bootstrap CSS -->
<head>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
     
    <!-- Load jquery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    
    <!-- Load angular and angular ui router -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    
    <!-- Load bootstrap js -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="../css/mainMenuStyle.css">
</head>  


<div class="col-sm-12 " id="test">
	<button class="btn btn-danger" >Starta Spelet</button>
    
    <button class="btn btn-danger" >Guide</button>
	   
</div>