<!--<ng-include src="'partials/meetingEditorPopUp.html'" ng-controller="meetingCtrl"></ng-include>-->
 <!-- Bootstrap CSS -->
<head>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
     
    <!-- Load jquery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    
    <!-- Load angular and angular ui router -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    
    <!-- Load bootstrap js -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="../css/settingsStyle.css">
</head>  


<div class="col-sm-12 " id="settings">
    <div class="form-group" id="volymLabel">
    <label>Spelvolym </label>
    <input type="range" min="0" max="50" value="0" step="5" onchange="showValue(this.value)" />
    </div>

    <div class="form-group" id="musikVolymLabel">
        <label>Musikvolym </label>
    <input type="range" min="0" max="50" value="0" step="5" onchange="showValue(this.value)" />
    </div>

    <div class="form-group" id="quitBtn">
        <button class="btn btn-success">AVSLUTA</button>
    </div>
</div>