@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
/*The font Sigmar One was created by Vernon Adams. The font is available here: https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Sigmar+One
Last checked on the 31st of may 2016s*/
body {
    font-family: 'Sigmar One', cursive;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: black;
}
